[databases]
{% for db in databases %}
{{ db.name }} = host={{ groups['patroni_nodes'][0] }} port={{ patroni_port }} dbname={{ db.name }}
{% endfor %}

[pgbouncer]
listen_addr = 0.0.0.0
listen_port = {{ pgbouncer_port }}
auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt
pool_mode = {{ pgbouncer_pool_mode }}
max_client_conn = {{ pgbouncer_max_client_conn }}
default_pool_size = {{ pgbouncer_default_pool_size }}
admin_users = postgres
stats_users = stats_user