---
- name: Install patroni-postgresql
  become: true
  ansible.builtin.import_tasks: install.yml
  when: flash_all != true

- name: Install pgbouncer
  become: true
  ansible.builtin.import_tasks: pgbouncer-install.yml
  when: flash_all != true and with_pgbouncer == true

- name: Create databases with role and user in cluster
  become: true
  ansible.builtin.import_tasks: management.yml
  when: flash_all != true and create_db == true
  tags: management-postgres

- name: Backup postgres data
  become: true
  ansible.builtin.import_tasks: backup.yml
  when: flash_all != true and with_backup == true

- name: uninstall cluster
  become: true
  ansible.builtin.import_tasks: uninstall.yml
  when: flash_all == true