- name: Check cluster status
  uri:
    url: "http://{{ ansible_host }}:{{ patroni_restapi_port }}/cluster"
    method: GET
  register: cluster_info
  delegate_to: localhost
  run_once: true

- name: Find primary node
  set_fact:
    primary_node: "{{ inventory_hostname == (cluster_info.json.members | selectattr('role', 'match', '(master|leader)') | map(attribute='name') | first) }}"
  run_once: true

- name: Create databases on primary
  community.postgresql.postgresql_db:
    name: "{{ item.name }}"
    owner: "{{ item.owner | default(omit) }}"
    encoding: "{{ item.encoding | default('UTF8') }}"
    state: present
    login_host: "{{ ansible_host }}"
    login_user: "postgres"
    login_password: "{{ postgres_superuser_password }}"
  loop: "{{ databases }}"
  when: primary_node
  tags: create_db

- name: Create users on primary
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    role_attr_flags: "{{ item.privileges | default(omit) | join(',') }}"
    state: present
    login_host: "{{ ansible_host }}"
    login_user: "postgres" 
    login_password: "{{ postgres_superuser_password }}"
  loop: "{{ users }}"
  when: primary_node
  tags: create_user

- name: Create PgBouncer configuration in central directory
  template:
    src: pgbouncer.ini.j2
    dest: "{{ pgbouncer_config_dir }}/pgbouncer.ini"
    owner: postgres
    group: postgres
    mode: '0640'
  when: with_pgbouncer == true

- name: Create userlist file in central directory
  template:
    src: userlist.txt.j2
    dest: "{{ pgbouncer_config_dir }}/userlist.txt"
    owner: postgres
    group: postgres
    mode: '0640'
  when: with_pgbouncer == true