[Unit]
Description=Patroni PostgreSQL Cluster
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=postgres
Group=postgres
ExecStart=/usr/bin/docker run --rm --name patroni \
  --network=host \
  --volume=/data/patroni-postgres-cluster/patroni:/etc/patroni \
  --volume=/data/patroni-postgres-cluster/data:/home/postgres/pgdata/pgroot/data \
  --volume=/data/patroni-postgres-cluster/logs:/home/postgres/pgdata/pgroot/logs \
  --volume=/data/patroni-postgres-cluster/wal:/home/postgres/pgdata/pgroot/wal \
  -e PATRONI_CONFIGURATION=/etc/patroni/patroni.yml \
  {{ patroni_docker_image }}
ExecStop=/usr/bin/docker stop patroni
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target