[Unit]
Description=HAProxy Load Balancer for PostgreSQL
Documentation=http://haproxy.org/
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker stop {{ haproxy_container_name }}
ExecStartPre=-/usr/bin/docker rm {{ haproxy_container_name }}
ExecStart=/usr/bin/docker run \
  --name {{ haproxy_container_name }} \
  --network host \
  -p {{ haproxy_frontend_port }}:{{ haproxy_frontend_port }} \
  -p {{ haproxy_readonly_port }}:{{ haproxy_readonly_port }} \
  -p {{ haproxy_sticky_port }}:{{ haproxy_sticky_port }} \
  -p {{ haproxy_stats_port }}:{{ haproxy_stats_port }} \
  -v {{ haproxy_config_dir }}/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro \
  {{ haproxy_docker_image }}:{{ haproxy_docker_tag }} \
  haproxy -f /usr/local/etc/haproxy/haproxy.cfg

ExecStop=/usr/bin/docker stop {{ haproxy_container_name }}
ExecStopPost=-/usr/bin/docker rm {{ haproxy_container_name }}
TimeoutStopSec=30

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ haproxy_container_name }}

[Install]
WantedBy=multi-user.target