global
    daemon
    maxconn {{ haproxy_maxconn }}
    log stdout format raw local0 info
    # Убираем проблемный socket или исправляем путь
    stats socket /tmp/haproxy-admin.sock mode 660 level admin

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    retries {{ haproxy_retries }}
    timeout client {{ haproxy_timeout_client }}
    timeout server {{ haproxy_timeout_server }}
    timeout connect {{ haproxy_timeout_connect }}
    timeout check {{ haproxy_timeout_check }}
    option redispatch

listen postgres_rw
    bind *:{{ haproxy_frontend_port }}
    mode tcp
    balance first
    option httpchk OPTIONS /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for host in groups['patroni_cluster'] %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:{{ postgresql_port }} check port {{ patroni_restapi_port }}
{% endfor %}

listen postgres_ro
    bind *:{{ haproxy_readonly_port }}
    mode tcp
    balance roundrobin
    option httpchk OPTIONS /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
{% for host in groups['patroni_cluster'] %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:{{ postgresql_port }} check port {{ patroni_restapi_port }}
{% endfor %}

listen stats
    bind *:{{ haproxy_stats_port }}
    mode http
    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}
    stats uri /