---
patroni_cluster_name: "postgres-cluster"

databases:
  - name: app
    owner: appuser
    encoding: UTF8
  - name: appdb
    owner: postgres

users:
  - name: appuser
    password: appuser
    privileges:
      - LOGIN
      - CREATEDB

etcd_client_port: 2379
etcd_peer_port: 2380
patroni_restapi_port: 8008
postgresql_port: 5432
pgbouncer_port: 6432