---
patroni_base_dir: "/data/patroni-postgres-cluster"
patroni_config_dir: "{{ patroni_base_dir }}/patroni"
postgresql_data_dir: "{{ patroni_base_dir }}/data/{{ postgresql_version }}/"
postgresql_wal_dir: "{{ patroni_base_dir }}/wal"
pgbouncer_config_dir: "{{ patroni_base_dir }}/pgbouncer"
postgres_home_dir: "/var/lib/postgresql"
postgresql_version: 17

flash_all: false
patroni_docker_image: "ghcr.io/zalando/spilo-17:4.0-p3"
patroni_scope: "patroni-postgres-cluster"
patroni_cluster_name: "patroni-postgres-cluster"
new_cluster: false

etcd_api_version: "v3"
etcd_servers: "{% for host in groups['etcd_cluster'] %}{{ hostvars[host].ansible_host | default(host) }}:{{ etcd_client_port | default(2379) }}{% if not loop.last %},{% endif %}{% endfor %}"
patroni_restapi_port: 8008
postgresql_port: 5432

with_pgbouncer: false
create_db: false
backup_enabled: false
backup_method: "pgbackrest"
pgbouncer_enabled: false

replication_password: "admin"
postgres_superuser_password: "admin"
postgres_admin_users: admin_user
monitoring_user: stats_user
patroni_restapi_username: "admin"
patroni_restapi_password: "admin"

# PostgreSQL parameters for 2GB RAM
postgresql_parameters:
  max_connections: "100"
  shared_buffers: "512MB"
  work_mem: "4MB"
  maintenance_work_mem: "64MB"
  effective_cache_size: "1GB"
  
  wal_level: "logical"
  max_wal_senders: "10"
  max_replication_slots: "10"
  wal_keep_size: "1GB"
  wal_buffers: "16MB"
  
  effective_io_concurrency: "200"
  min_wal_size: "1GB"
  max_wal_size: "2GB"
  
  max_prepared_transactions: "0"
  shared_preload_libraries: "pg_stat_statements"
  default_statistics_target: "100"
  
  superuser_reserved_connections: "3"
  tcp_keepalives_idle: "60"
  tcp_keepalives_interval: "10"
  tcp_keepalives_count: "3"
  
  idle_in_transaction_session_timeout: "60000"
  lock_timeout: "30000"
  statement_timeout: "60000"

backup_s3_bucket: "my-postgres-backups"
backup_s3_region: "us-east-1"
backup_retention_days: 30
backup_schedule: "0 2 * * *"

patroni_service_name: "{{ patroni_cluster_name }}"
docker_restart_policy: "no"
patroni_service_state: "started"