flash_all: "false"

patroni_docker_image: "ghcr.io/zalando/spilo-17:4.0-p3"
patroni_scope: "patroni-postgres-cluster"
patroni_cluster_name: "patroni-postgres-cluster"
new_cluster: "false"
etcd_api_version: "v3"
etcd_servers: "{% for host in groups['etcd_cluster'] %}{{ host }}:{{ etcd_client_port | default(2379) }}{% if not loop.last %},{% endif %}{% endfor %}"

postgresql_data_dir: "/var/lib/postgresql/data"
postgresql_wal_dir: "/var/lib/postgresql/wal"

patroni_restapi_port: 8008
postgresql_port: 5432

with_pgbouncer: "false"

# Management
create_db: "false"
replication_password: "admin"
postgres_superuser_password: "admin"
# DB and userlist
postgres_admin_users: admin_user
monitoring_user: stats_user

postgresql_parameters:
  max_connections: "100"
  shared_buffers: "1GB"
  wal_level: "logical"
  hot_standby: "on"
  max_wal_senders: "10"
  max_replication_slots: "10"

backup_enabled: false
backup_method: "pgbackrest"
pgbouncer_enabled: true
backup_s3_bucket: "my-postgres-backups"
backup_s3_region: "us-east-1"
backup_retention_days: 30
backup_schedule: "0 2 * * *"

patroni_service_name: "{{ patroni_cluster_name }}"
docker_restart_policy: "no"

patroni_service_state: "started"