---
- name: Deploy etcd cluster
  hosts: etcd_cluster
  become: true
  roles:
    - etcd
  tags: etcd

- name: Deploy HAProxy load balancers
  hosts: haproxy_servers
  become: true
  roles:
    - haproxy
  tags: haproxy
  vars:
    haproxy_state: "present"

- name: Deploy Patroni PostgreSQL cluster
  hosts: patroni_cluster
  become: true
  roles:
    - patroni
  tags: patroni