---
- name: Deploy etcd cluster
  hosts: etcd_cluster
  become: true
  roles:
    - ansible-etcd-cluster
  tags: etcd

- name: Deploy HAProxy load balancers
  hosts: haproxy_servers
  become: true
  roles:
    - ansible-haproxy-cluster
  tags: haproxy
  vars:
    haproxy_state: "present"

- name: Deploy Patroni PostgreSQL cluster
  hosts: patroni_cluster
  become: true
  roles:
    - ansible-patroni-postgres
  tags: patroni