[databases]
{% for db in pgbouncer_databases %}
{{ db.name }} = host={{ postgresql_host }} port={{ postgresql_port }} dbname={{ db.name }}
{% endfor %}

* = host={{ postgresql_host }} port={{ postgresql_port }}

[pgbouncer]
listen_addr = 0.0.0.0
listen_port = {{ pgbouncer_port }}
auth_type = md5
auth_file = /etc/pgbouncer/userlist.txt
pool_mode = {{ pgbouncer_pool_mode }}
max_client_conn = {{ pgbouncer_max_client_conn }}
default_pool_size = {{ pgbouncer_default_pool_size }}
admin_users = {{ admin_users }}
stats_users = {{ stats_users }}
ignore_startup_parameters = extra_float_digits